@import url("listings.css");

.agent-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  padding: 50px 20px;
}

.agent-profile img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.profile-details {
  max-width: 600px;
  text-align: left;
  background-color: var(--hover-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px var(--shadow-color);
}

.profile-details p {
  margin: 10px 0;
}