/* CONTENTS
1. Global
2. Layout
3. Header
4. Main Content

/*--------------------------------------------------------------
# 1. Global
--------------------------------------------------------------*/

/* Global Fonts */
@font-face {
    font-family: "NunitoReg";
    src: url("../fonts/Nunito-Regular.woff") format("woff"),
      url("../fonts/Nunito-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Regular.woff") format("woff"),
      url("../fonts/Karla-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Kantumruy";
    src: url("../fonts/Kantumruy-Regular.woff") format("woff"),
      url("../fonts/Kantumruy-Regular.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

/* Fonts (Called for Page) */ 
:root {
    --default-font: "Karla", "Helvetica Neue", -apple-system, "Segoe UI", Roboto,
     Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Kantumruy", sans-serif;
    --paragraph-font: "Karla", sans-serif;
    --logo-font: "Orbitron", sans-serif;
}
  
/* Global Colors */
:root {
    --background-color: #000000;
    --primary-color: #ffffff;
    --secondary-color: #5c5c5c;
    --primary-font-color: #000000;
    --primary-font-color-alt: #ffffff;
    --hover-color: #d1d1d1;
    --hover-color-alt: #9edaff;
    --secondary-font-color: #202020;
    --shadow-color: #1313132c;
    --link-color: #00e5ff;
    --border-color: #000000;
  }
 
/* Global Behaviours */
:root {
    scroll-behavior: smooth;
  }

/*--------------------------------------------------------------
# 2. Layout
--------------------------------------------------------------*/

* {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s;
  }
  
  body {
    background-position: center;
    font-family: var(--paragraph-font);  
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
  }
  
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
  }

  a,
  h1,
  h2,
  h3,
  p {
    text-decoration: none;
    transition: 0.3s;
    color: var(--primary-font-color);
    font-family: var(--default-font);
  }
  
  h1 {
    font-family: var(--heading-font);
    line-height: 1.2;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  button {
    background-color: var(--background-color);
    color: var(--primary-font-color-alt);
    border: 1px solid var(--border-color);
    padding: 12px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-family: var(--default-font);
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
/*--------------------------------------------------------------
# 3. Header
--------------------------------------------------------------*/


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 60px;
    border-radius: 20px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;

  }
  
.nav-bar li {
    display: flex;
    text-align: center;
  }

.nav-bar a {
    color: var(--primary-font-color-alt);
  }

.header-logo {
    font-family: var(--logo-font);
    font-size: 30px;
    color: var(--primary-font-color-alt);
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 0 20px;
  }

  .header-buttons button {
    border: 2px solid var(--primary-font-color-alt);
    background-color: transparent;
    color: var(--primary-color);
  }

/*--------------------------------------------------------------
# 3. Main Content
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# 3.1. Title Container
--------------------------------------------------------------*/

  .listing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-image: url(../images/building-bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    width: 100%;
  }

  .listing-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(90deg,rgb(0, 0, 0) 0%,
   rgb(0, 0, 0) 34%, rgba(0, 0, 0, 0) 63%);
   
    width: 100%;
    padding: 0px 30px 30px 30px;
  }

  .listing-title {
    color: var(--primary-font-color-alt);
    font-size: 3.5vh;
    padding-left: 20px;
    padding-top: 20px;
  }

  .listing-contents img {
    width: 50%;
    padding: 0 20px;
  }

  .listing-header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: var(--primary-font-color-alt);
    font-size: 20px;
    width: 100%;
    padding: 20px 0;
    margin: 0 20px;
  }

  .listing-header h2 {
    color: var(--primary-font-color-alt);
    font-size: 2.5vh;
    padding: 0px;
  }

  .listing-header p {
    color: var(--primary-font-color-alt);
    font-size: 2.5vh;
  }

  .listing-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0px 20px 20px;
  }

  .listing-info img {
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 20px;
}

  .listing-info h3 {
    color: var(--primary-font-color-alt);
    font-size: 2.5vh;
    padding-bottom: 10px;
  }

  .listing-info div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .listing-beds {
    border-top: 2px solid var(--primary-color); 
  }

  .listing-sqft {
    border-bottom: 2px solid var(--primary-color); 
  }

  .listing-info p {
    color: var(--primary-font-color-alt);
    font-size: 2vh;
    padding: 10px 0;
}

/*--------------------------------------------------------------
# 3.2. Listing Details
--------------------------------------------------------------*/
  
  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: var(--primary-color);
    width: 100%;
    padding: 30px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--primary-color);
    width: 80%;
    padding: 30px;
    padding-top: 0px;
  }

  .about-container h2 {
    color: var(--primary-font-color);
    font-size: 2.5vh;
    padding: 20px 0;
  }

  .amenities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
  }

  .amenities p {
    color: var(--primary-font-color);
    font-size: 2vh;
    text-align: left;
  }

  .price {
    font-weight: bold;
}


/*--------------------------------------------------------------
# 3.3 Agents Section
--------------------------------------------------------------*/

.agent-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
}

.agent-card img {
  width: 50px;
  height: auto;
  border-radius: 20px;
}

.agent-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.agent-content p {
    font-size: 2vh;
    padding-left: 10px;
}

.agent-card button {
    margin-top: 10px;
    background-color: var(--primary-font-color);
    color: var(--primary-font-color-alt);
    border-radius: 4px;
    padding: 8px 16px;
}

/*--------------------------------------------------------------
# ?.? Gallery Section
--------------------------------------------------------------*/

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 20px;
    background-color: var(--primary-font-color);
} 

 .gallery-container h2 {
    padding: 20px;
    color: var(--primary-font-color-alt);
  }

  .image-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
    max-width: 60%;
    overflow: auto;
  }

  .image-grid img {
    height: 400px;
    padding-right: 10px;
  }

/*--------------------------------------------------------------
# ?.? Others Section
--------------------------------------------------------------*/


.others-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    width: 100%;
    padding: 40px 20px;
    background-color: var(--primary-color);
}

.others-container h2 {
    padding: 20px;
}

.others-container .property-list{
  padding-top: 20px;
  padding-bottom: 40px;
}

/*--------------------------------------------------------------
# 4. Footer
--------------------------------------------------------------*/

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--primary-color);
    background-color: var(--shadow-color);
    text-align: center;
    padding: 20px;
  }
    